<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RedStore | 홈</title>
    <link rel="stylesheet" href="stylesheets/style.css">
    <script src="https://kit.fontawesome.com/43be5ddbe5.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="header">

        <div class="container">
                <nav role="navigation">
                    <div class="logo">
                        <a href="/"><img src="assets/logo.png" width="125px"></a>
                    </div>
                    <ul id="main-menu">
                        <li><a href="/product-all">상품 카테고리</a>
                            <ul id="sub-menu">
                            <li><a href="/product-top" aria-label="subemnu">상의</a></li>
                            <li><a href="/product-bottom" aria-label="subemnu">하의</a></li>
                            <li><a href="/product-shoes" aria-label="subemnu">신발</a></li>
                            </ul>
                        </li>
                    </ul>
                    <div class="search">
                        <form action="/product-search" method="get">
                        <input type="search" name="product_name" placeholder="상품 이름 검색하기(enter)">
                        최소가격<input type="number" name="min_price" value=" " placeholder="원하는 최소가격을 입력하세요">
                        최대가격<input type="number" name="max_price" value=" " placeholder="원하는 최대가격을 입력하세요">
                        카테고리<select name="product_category" class="custom-select">
                            <option value="전체">전체</option>
                            <option value="상의">상의</option>
                            <option value="하의">하의</option>
                            <option value="신발">신발</option>
                          </select>
                          <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                                                
                            <button class="btn btn-primary" type="submit">검색하기</button>
                        </div>
                        <!--돋보기 이모티콘<i class="fas fa-search"></i>-->
                        </form>
                    </div>
                    <% if(session.loggedin) { %>
                    <div class="cart">
                        <a href="/cart"><img src="assets/cart.png" width="30px" height="30px"></a>
                    </div>
                    <% } else {%>
                            <% } %>
                </nav>
                <!-- <img src="assets/menu.png" class="menu-icon" onclick="menutoggle()"> -->
            
            <div class="row">
                <!-- event banner -->
                <div class="col-2">
                    <div id="slider">
                        <figure>
                            <%
                            for(var i=0; i<rows_events.length; i++)
                            {
                                
                                var data1 = rows_events[i];
                                let date = new Date();
                                let date2 = new Date(rows_events[i].end);
                                let date3 = new Date(rows_events[i].start);
                               
                                console.log(date.getFullYear() +" "+ date2.getFullYear());
                                if(date.getFullYear() - date2.getFullYear()>0 || date.getFullYear() - date3.getFullYear() <0){
                                    break;
                                }
                                else if(date.getMonth() - date2.getMonth()>0 || date.getMonth() - date3.getMonth() <0){
                                    break;
                                }
                                else if(date.getDate() - date2.getDate()>0 || date.getDate() - date3.getDate() <0){
                                    break;
                                }
                                
                                else{
                            %>
                            <img src="/assets/<%=data1.eimage%>">
                            
                            <%}}%>
                        </figure>
                    </div>
                </div>
                <!-- login, register menu -->
                <div class="col-2">
                        <div class="container">
                            <div class="row">
                                <div class="col-2">
                                    <div class="form-container">
                                        
                                <% if(session.loggedin) { %> 
                                    <h1>안녕하세요</h1>
                                    <%= session.name %>님 반갑습니다.
                                    <br>
                                    저희 사이트를 이용해주셔서 감사합니다.
                                    
                                    
                                    <button type="button" onclick="location.href='account/logout'" class="btn">로그아웃</button>
                                    <% } else {%>
                                        <div class="form-btn">
                                            <span onclick="login()">로그인</span>
                                            <span onclick="register()">회원가입</span>
                                            <hr id="Indicator">
                                        </div>
                                        <form action="/account/login" method="post" id="LoginForm">
                                            <input class="form-control py-4" id="id" name="id" type="text"  placeholder="Enter your ID" required/>
                                            <input class="form-control py-4" id="passwd" name="password" type="password" placeholder="Enter password" required/>
                                            <button type="submit" class="btn">로그인</button>
                                            <a href="">비밀번호를 잊으셨나요?</a>
                                        </form>
                                        <form action="/account/register" method="post" id="RegForm">
                                            <% if (session.dup) { %>
                                                <font color='red'>
                                                    ID또는 이메일 이미 사용중입니다
                                                </font>
                                                <% } %>
                                            <% if (session.Validation) { %>
                                                <font color='red'>
                                                    passwd는 영문+숫자 8이상 필수
                                                </font>
                                                <% } %>
                                            <input type="text"id="id" name="id" placeholder="ID" required>
                                            <input type="text"id="name" name="name" placeholder="Name" required>
                                            <input type="email" id="email" name="email"placeholder="Email" requir>
                                            <!-- <input type="checkbox" class="check-box"><span>ID 중복체크</span> -->
                                            <input type="passoword"id="password" name="password" placeholder="Passoword" required>
                                            <button type="submit" class="btn">회원가입</button>
                                        </form>
                                            <% } %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- featured categories -->
    <!-- <div class="categories">
        <div class="small-container">
            <div class="row">
                <div class="col-3">
                    <img src="assets/category-1.jpg">
                </div>
                <div class="col-3">
                    <img src="assets/category-2.jpg">
                </div>
                <div class="col-3">
                    <img src="assets/category-3.jpg">
                </div>
            </div>
        </div>
    </div> -->

    <!-- featured products -->
    <div class="small-container">
        <!-- 인기상품
        <h2 class="title">인기 상품</h2>
        <div class="row">
            <div class="col-4">
                <a href="top1-details.ejs"><img src="assets/top1-thumbnail.jpg"></a>
                <a href="top1-details.ejs"><h4>Lee 로고 티셔츠</h4></a>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>35,000원</p>
            </div>
            <div class="col-4">
                <a href="top2-details.ejs"><img src="assets/top2-thumbnail.jpg"></a>
                <a href="top2-details.ejs"><h4>thisisneverthat 로고 티셔츠</h4></a>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
                <p>39,000원</p>
            </div>
            <div class="col-4">
                <a href="top3-details.ejs"><img src="assets/top3-thumbnail.jpg"></a>
                <a href="top3-details.ejs"><h4>LMC water splash 티셔츠</h4></a>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
                <p>35,100원</p>
            </div>
            <div class="col-4">
                <a href="top4-details.ejs"><img src="assets/top4-thumbnail.jpg"></a>
                <a href="top4-details.ejs"><h4>마크 곤잘레스 엔젤 와펜 티셔츠</h4></a>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
                <p>33,150원</p>
            </div>
        </div>
    -->
        <!-- Latest products -->
        <h2 class="title">신상품</h2>
        <div class="row">
            
                <%
                for(var i=0; i<rows.length; i++)
                {
                    var data = rows[i];
                %>
                <div class="col-4">
                <a href="/product-details/<%=data.pid%>"><img src="/assets/<%=data.pimage%>"></a>
                <a href="/product-details/<%=data.pid%>"><h4><%=data.pname%></h4></a>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
                <p>가격: <%=data.pprice%>\</p>
            </div>
            
            <%}%>
            
        </div>
    </div>
    <!-- offer -->
    <div class="offer">
        <div class="small-container">
            <div class="row">
                <div class="col-2">
                    <img src="assets/exclusive.png" class="offer-img">
                </div>
                <div class="col-2">
                    <p>오직 RedStore에서만!</p>
                    <h1>Smart Band 4</h1>
                    <small>Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                        Sequi quidem numquam minus voluptas ullam, ratione a quis beatae, aperiam voluptatibus 
                        vero atque aliquid recusandae porro quasi id dignissimos et architecto?<br>
                    </small>
                    <a href="" class="btn">즉시 구매</a>
                </div>
            </div>
        </div>
    </div>
    
    <!-- brands -->
    <div class="brands">
        <div class="small-container">
            <div class="row">
            <div class="col-5">
                <img src="assets/logo-godrej.png">
            </div>
            <div class="col-5">
                <img src="assets/logo-oppo.png">
            </div>
            <div class="col-5">
                <img src="assets/logo-coca-cola.png">
            </div>
            <div class="col-5">
                <img src="assets/logo-paypal.png">
            </div>
            <div class="col-5">
                <img src="assets/logo-philips.png">
            </div>
            </div>
        </div>
    </div>
    
    <!-- footer -->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col-1">
                    <h3>Download Our App</h3>
                    <p>iOS, 안드로이드 앱 다운받기</p>
                    <div class="app-logo">
                        <img src="assets/play-store.png">
                        <img src="assets/app-store.png">
                    </div>
                </div>
                <div class="footer-col-2">
                    <img src="assets/logo-white.png">
                    <!-- need link -->
                    <p>사업자 정보</p>
                    <p>이용약관</p>
                    <p>개인정보처리방침</p>
                </div>
                <div class="footer-col-3">
                    <h3>링크</h3>
                    <ul>
                        <li>쿠폰</li>
                        <li>블로그 포스트</li>
                        <li>환불 정책</li>
                    </ul>
                </div>
                <div class="footer-col-4">
                    <h3>팔로우</h3>
                    <ul>
                        <li>페이스북</li>
                        <li>트위터</li>
                        <li>인스타그램</li>
                        <li>유튜브</li>
                    </ul>
                </div>
            </div>
            <hr>
            <p class="copyright">Copyright 2021 - SE team7</p>
        </div>
    </div>
    <!-- js for toggle menu -->
    <script>
        var MenuItems = document.getElementById("MenuItems");

        MenuItems.style.maxHeight = "0px";

        function menutoggle(){
            if(MenuItems.style.maxHeight == "0px"){
                MenuItems.style.maxHeight = "200px";
            }
            else{
                MenuItems.style.maxHeight = "0px";
            }
        }
    </script>

    <!-- js for login & register toggle form -->
    <script>
        var LoginForm = document.getElementById("LoginForm");
        var RegForm = document.getElementById("RegForm");
        var Indicator = document.getElementById("Indicator");

        function register(){
            RegForm.style.transform = "translateX(0px)";
            LoginForm.style.transform = "translateX(0px)";
            Indicator.style.transform = "translateX(100px)";
        }
        function login(){
            RegForm.style.transform = "translateX(300px)";
            LoginForm.style.transform = "translateX(300px)";
            Indicator.style.transform = "translateX(0px)";
        }
    </script>
</body>
</html>