<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RedStore | 상의</title>
    <link rel="stylesheet" href="stylesheets/style.css">
    <script src="https://kit.fontawesome.com/43be5ddbe5.js" crossorigin="anonymous"></script>
</head>

<body>

    <div class="container">
        <nav role="navigation">
            <div class="logo">
                <a href="index.html"><img src="assets/logo.png" width="125px"></a>
            </div>
            <ul id="main-menu">
                <li><a href="/product-all">상품 카테고리</a>
                    <ul id="sub-menu">
                    <li><a href="/product-top" aria-label="subemnu">상의</a></li>
                    <li><a href="/product-bottom" aria-label="subemnu">하의</a></li>
                    <li><a href="/product-shoes" aria-label="subemnu">신발</a></li>
                    </ul>
                </li>
            </ul>
            <div class="search">
                <input type="text" placeholder="상품 검색하기">
                <i class="fas fa-search"></i>
            </div>
            <div class="cart">
                <a href="cart.html"><img src="assets/cart.png" width="30px" height="30px"></a>
            </div>
        </nav>
    </div>

    <div class="small-container">

        <div class="row row-2">
            <h2>상의</h2>
            <select>
                <option>기본 정렬</option>
                <option>인기순으로 정렬</option>
                <option>가격순으로 정렬</option>
            </select>
        </div>

            <div class="row">
                <%
                for(var i=0; i<rows.length; i++)
                {
                    var data = rows[i];
                    if(rows[i].pcategory == "하의")
                    {
                %>
                <div class="col-4">
                    <a href="/product-details?product_name=<%=data.pname%>&product_price=<%=data.pprice%>"><img src="/assets/<%=data.pimage%>"></a>
                    <a href="/product-details?product_name=<%=data.pname%>&product_price=<%=data.pprice%>"><h4><%=data.pname%></h4></a>
                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                    <p>가격: <%=data.pprice%>\</p>
                </div>
                
            <%}
            else{}
                }
            %>
            </div>
            
            <!-- <div class="row"></div> -->
            <div class="page-btn">
                <span>1</span>
                <span>2</span>
                <span>3</span>
                <span>4</span>
                <span>&#8594;</span>
            </div>
    </div>
    
    <!-- footer -->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col-1">
                    <h3>Download Our App</h3>
                    <p>iOS, 안드로이드 앱 다운받기</p>
                    <div class="app-logo">
                        <img src="assets/play-store.png">
                        <img src="assets/app-store.png">
                    </div>
                </div>
                <div class="footer-col-2">
                    <img src="assets/logo-white.png">
                    <!-- need link -->
                    <p>사업자 정보</p>
                    <p>이용약관</p>
                    <p>개인정보처리방침</p>
                </div>
                <div class="footer-col-3">
                    <h3>링크</h3>
                    <ul>
                        <li>쿠폰</li>
                        <li>블로그 포스트</li>
                        <li>환불 정책</li>
                    </ul>
                </div>
                <div class="footer-col-4">
                    <h3>팔로우</h3>
                    <ul>
                        <li>페이스북</li>
                        <li>트위터</li>
                        <li>인스타그램</li>
                        <li>유튜브</li>
                    </ul>
                </div>
            </div>
            <hr>
            <p class="copyright">Copyright 2021 - SE team7</p>
        </div>
    </div>
    
    <!-- js for toggle menu -->
    <script>
        var MenuItems = document.getElementById("MenuItems");

        MenuItems.style.maxHeight = "0px";

        function menutoggle(){
            if(MenuItems.style.maxHeight == "0px"){
                MenuItems.style.maxHeight = "200px";
            }
            else{
                MenuItems.style.maxHeight = "0px";
            }
        }
    </script>
</body>
</html>